# Consumer Behaviour data cleaning

## Install dependencies

In [1]:
! pip3 install pandas
! pip3 install matplotlib.pyplot
! pip3 install plotly.express
! pip3 install openpyxl
! pip3 install petl

Requirement already satisfied: pandas in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot
Requirement already satisfied: plotly.express in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: scipy>=0.18 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from plotly.express) (1.7.3)
Requirement already satisfied: pandas>=0.20.0 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from plotly.express) (1.3.4)
Requirement already satisfied: plotly>=4.1.0 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from plotly.express) (5.4.0)
Requirement already satisfied: numpy>=1.11 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from plotly.express) (1.21.4)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from plotly.express) (0.13.1)
Requirement already satisfied: patsy>=0.5 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from plotly.express) (0.5.2)
Requirement already satisfied: pytz>=2017.3 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from pandas>=0.20.0->plotly.express) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from pandas>=0.20.0->plotly.express) (2.8.2)
Requirement already satisfied: six in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from patsy>=0.5->plotly.express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from plotly>=4.1.0->plotly.express) (8.0.1)
Requirement already satisfied: openpyxl in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: petl in /Users/jontylees/Python/final-project/data_transformation/.env/lib/python3.10/site-packages (1.7.4)

In [2]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import petl as etl
import glob as glob
import os

## Import files from un-zipped folder

### csv files
- Using glob, we extract all the files from the file ending in '.csv'
- We use iteration to loop each file:
    - export it into frame
    - create a new 'store' column, as then alter the basename, removing the '.csv' and inserting file name into 'store' to differentiate which store each row belows too.
    - we then append frame to the csv_data empty object
- We use concatenation to bring all the files together
- Finally exporting to csv file

In [3]:
# csv_data_import = glob.glob('data/*.csv')
# csv_data = []
# for csv in csv_data_import:
#     frame = pd.read_csv(csv)
#     frame['store'] = os.path.basename(csv).split(".")[0]
#     csv_data.append(frame)

# csv_final = pd.concat(csv_data, ignore_index=True)

# csv_final.to_csv('csv_final.csv')

### json files
- Using glob, we extract all the files from the file ending in '.json'
- We use iteration to loop each file:
    - export it into frame
    - create a new 'store' column, as then alter the basename, removing the '.json' and inserting file name into 'store' to differentiate which store each row belows too.
    - we then append frame to the json_data empty object
- We use concatenation to bring all the files together
- Finally exporting to json file

In [4]:
# json_data_import = glob.glob('data/*.json')
# print(json_data_import)

# json_data = []
# for json in json_data_import:
#     frame = pd.read_json(json)
#     frame['store'] = os.path.basename(json).split(".")[0]
#     json_data.append(frame)

# json_final = pd.concat(json_data
# json_final.to_csv('json_final.csv')

## Import csv files into etl tables

In [5]:
# csv_table = etl.fromcsv('csv_final.csv')
# json_table = etl.fromcsv('json_final.csv')

## Table Transformation

### csv table
- As some of the columns have slightly differnet names but same meaningful data, We use the etl.addfield propety to create a 'new_quantity' and 'new_item" 
column and added the values from the various named columns to it
- With the new columns in place, we removed all the 'old' columns using etl.cutout
- In order to match other tables and to succesffuly join them, we need the columns names the same.
    - we did this by converting all cells within the 'store' column, spliting at the _ and replacing the other _ to a space. ('2010-2020_bradford_branch' --> 'bradford branch')

In [6]:
# csv_table =etl.addfield(csv_table, 'new_quantity', lambda cell: cell['quantity'] + cell ['total_quantity'] + cell ['quantity_purchased'] + cell ['total_quantity_purchased'])
# csv_table =etl.addfield(csv_table, 'new_item', lambda cell: cell['item'] + cell ['product'] + cell ['sku'] )

In [7]:

# csv_table = etl.cutout(csv_table, 'quantity')
# csv_table = etl.cutout(csv_table, 'total_quantity')
# csv_table = etl.cutout(csv_table, 'quantity_purchased')
# csv_table = etl.cutout(csv_table, 'total_quantity_purchased')
# csv_table = etl.cutout(csv_table, 'item')
# csv_table = etl.cutout(csv_table, 'product')
# csv_table = etl.cutout(csv_table, 'sku')

# csv_table = etl.convert(csv_table, 'store', lambda cell: "_".join(cell.split('_')[1:]).replace("_", " ").strip())

### json table
- As some of the columns have slightly differnet names but same meaningful data, We use the etl.addfield propety to create a 'new_quantity' and 'new_item" 
column and added the values from the various named columns to it
- With the new columns in place, we removed all the 'old' columns using etl.cutout
- In order to match other tables and to succesffuly join them, we need the columns names the same.
    - we did this by converting all cells within the 'store' column, spliting at the _ and replacing the other _ to a space. ('2010-2020_bradford_branch' --> 'bradford branch')

In [8]:
# json_table =etl.addfield(json_table, 'new_quantity', lambda cell: cell['quantity'] + cell ['total_quantity'] + cell ['quantity_purchased'] + cell ['total_quantity_purchased'])
# json_table =etl.addfield(json_table, 'new_item', lambda cell: cell['item'] + cell ['product'] + cell ['sku'] )

In [9]:
# json_table = etl.cutout(json_table, 'quantity')
# json_table = etl.cutout(json_table, 'total_quantity')
# json_table = etl.cutout(json_table, 'quantity_purchased')
# json_table = etl.cutout(json_table, 'total_quantity_purchased')
# json_table = etl.cutout(json_table, 'item')
# json_table = etl.cutout(json_table, 'product')
# json_table = etl.cutout(json_table, 'sku')

# json_table = etl.convert(json_table, 'store', lambda cell: "_".join(cell.split('_')[1:]).replace("_", " ").strip())

### We renamed the 'new_item' & 'new_quantity' -> 'item' & 'quantity' in both tables

In [10]:
# csv_table = etl.rename(csv_table, {'new_quantity': 'quantity','new_item':'product', 'store':'branch_name'})
# json_table = etl.rename(json_table, {'new_quantity': 'quantity','new_item':'product', 'store':'branch_name'})

### Imported store data from xlsx & product list from csv

In [11]:
# store_data_table = etl.fromxlsx('data/branch_list.xlsx')
# product_list = etl.fromcsv('data/products_list.csv')

### Join the store data table to both the csv and json tables using the 'branch_name'

In [12]:
# csv_table_with_store_data = etl.leftjoin(csv_table,store_data_table, key='branch_name')
# json_table_with_store_data = etl.leftjoin(json_table,store_data_table, key='branch_name')

### Using the etl.cat, we concatinated the csv and json tables into 'data_transformation_df'

In [13]:
# data_transformation_df = etl.cat(csv_table_with_store_data,json_table_with_store_data)

### Join the product list table to the  using the 'product' into the df

In [14]:
# data_transformation_df = etl.leftjoin(data_transformation_df,product_list, key='product')

### once joined, we exported into a csv, in order to be able to work on it a bit quicker

In [15]:
# etl.tocsv(data_transformation_df, 'consumer_behaviour_df.csv')

### We import the csv from the line above and add some final touches
- We converted the year, month, day, hour, established_on and amount_in_gbp from a str into a float to be able to continue working on it like an int
- we converted quantity into an int
- We had two versions of manufactuter, catergory and price (which we recently found was obsolete as contained the wrong data)
    - because of this, we used the etl.cutout to remove the manufactuter, catergory and both prices from the table

In [16]:
# consumer_behaviour_df = etl.fromcsv('consumer_behaviour_df.csv')

In [17]:
# consumer_behaviour_df= etl.convert(consumer_behaviour_df, 'year', float)
# consumer_behaviour_df= etl.convert(consumer_behaviour_df, 'month', float)
# consumer_behaviour_df= etl.convert(consumer_behaviour_df, 'day', float)
# consumer_behaviour_df= etl.convert(consumer_behaviour_df, 'hour', float)
# consumer_behaviour_df= etl.convert(consumer_behaviour_df, 'established_on', float)
# consumer_behaviour_df= etl.convert(consumer_behaviour_df, 'amount_in_gbp', float)
# consumer_behaviour_df= etl.convert(consumer_behaviour_df, 'quantity', int)



# consumer_behaviour_df = etl.cutout(consumer_behaviour_df, 'manufactuter')
# consumer_behaviour_df = etl.cutout(consumer_behaviour_df, 'category')
# consumer_behaviour_df = etl.cutout(consumer_behaviour_df, 'price')
# consumer_behaviour_df = etl.cutout(consumer_behaviour_df, 'price')

### Using the .look(), we can check that the table is how we want it before final export

In [18]:
# consumer_behaviour_df.look()

### We export the final table to csv, ready to be used in the dash app

In [19]:
# etl.tocsv(consumer_behaviour_df, 'final_consumer_behaviour_df.csv')

In [20]:
track_product_df = etl.fromcsv('final_consumer_behaviour_df.csv')
branch_expenses =  etl.fromxlsx('data/branch_expenses.xlsx')

In [21]:
track_product_df.look()

+-------+----------+-------+--------+-------+----------------------+-----------------+----------+------------------------------+--------------------+----------+----------------+---------------+---------------+
|       | year     | month | day    | hour  | amount_in_gbp        | branch_name     | quantity | product                      | region             | county   | established_on | manufactuter  | category      |
+=======+==========+=======+========+=======+======================+=================+==========+==============================+====================+==========+================+===============+===============+
| '166' | '2012.0' | '1.0' | '10.0' | '0.0' | '367.50000000000006' | 'Armagh outlet' | '125'    | '21 day mature ribeye steak' | 'Northern Ireland' | 'Armagh' | '2012.0'       | 'farmer jack' | 'meat & fish' |
+-------+----------+-------+--------+-------+----------------------+-----------------+----------+------------------------------+--------------------+----------+----------------+---------------+---------------+
| '370' | '2012.0' | '1.0' | '10.0' | '0.0' | '44.10000000000001'  | 'Armagh outlet' | '15'     | '21 day mature ribeye steak' | 'Northern Ireland' | 'Armagh' | '2012.0'       | 'farmer jack' | 'meat & fish' |
+-------+----------+-------+--------+-------+----------------------+-----------------+----------+------------------------------+--------------------+----------+----------------+---------------+---------------+
| '411' | '2012.0' | '1.0' | '10.0' | '0.0' | '311.64000000000004' | 'Armagh outlet' | '106'    | '21 day mature ribeye steak' | 'Northern Ireland' | 'Armagh' | '2012.0'       | 'farmer jack' | 'meat & fish' |
+-------+----------+-------+--------+-------+----------------------+-----------------+----------+------------------------------+--------------------+----------+----------------+---------------+---------------+
| '553' | '2012.0' | '1.0' | '10.0' | '0.0' | '149.94000000000003' | 'Armagh outlet' | '51'     | '21 day mature ribeye steak' | 'Northern Ireland' | 'Armagh' | '2012.0'       | 'farmer jack' | 'meat & fish' |
+-------+----------+-------+--------+-------+----------------------+-----------------+----------+------------------------------+--------------------+----------+----------------+---------------+---------------+
| '904' | '2012.0' | '1.0' | '16.0' | '1.0' | '308.70000000000005' | 'Armagh outlet' | '105'    | '21 day mature ribeye steak' | 'Northern Ireland' | 'Armagh' | '2012.0'       | 'farmer jack' | 'meat & fish' |
+-------+----------+-------+--------+-------+----------------------+-----------------+----------+------------------------------+--------------------+----------+----------------+---------------+---------------+
...

In [22]:
branch_expenses.look()

+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| year   | month | region            | county         | branch_name          | established_on | operational_cost | staff_bonuses | misc_expenses | waste_cost |
+========+=======+===================+================+======================+================+==================+===============+===============+============+
| 2012.0 |   1.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2785.0 |         232.0 |        7793.0 |     4729.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   2.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2058.0 |         260.0 |        3559.0 |     3539.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   3.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2222.0 |         319.0 |        7320.0 |     2809.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   4.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2324.0 |         271.0 |        3352.0 |     3704.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   5.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2489.0 |         263.0 |        5834.0 |     3872.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
...

In [23]:
branch_expenses = etl.fromxlsx('data/branch_expenses.xlsx')
branch_expenses.look()

+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| year   | month | region            | county         | branch_name          | established_on | operational_cost | staff_bonuses | misc_expenses | waste_cost |
+========+=======+===================+================+======================+================+==================+===============+===============+============+
| 2012.0 |   1.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2785.0 |         232.0 |        7793.0 |     4729.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   2.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2058.0 |         260.0 |        3559.0 |     3539.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   3.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2222.0 |         319.0 |        7320.0 |     2809.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   4.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2324.0 |         271.0 |        3352.0 |     3704.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   5.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2489.0 |         263.0 |        5834.0 |     3872.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
...

In [24]:
etl.tocsv(branch_expenses, 'branch_expenses.csv')